<div
  class='shadow-lg min-h-fit rounded-md bg-gray-50 dark:bg-gray-800 md:my-10 mt-24 2xl:mx-20 md:mx-6 mx-3'
>
  <div class='w-full p-6'>
    <div class='self-start w-full rounded-lg'>
      <div class='md:flex-row'>
        <div>
          <div class='flex justify-between items-center lg:pb-16 pb-6 w-full'>
            <h2
              class='lg:text-4xl capitalize text-2xl font-semibold text-gray-700 dark:text-gray-200 lg:w-auto w-fit'
            >
              {{data.type}}
            </h2>
            <a
              class='text-white py-3 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5 text-xs'
              href='/blogs'
            >Back to list <i class='fa-solid fa-list'></i></a>
          </div>
        </div>
        <div class=''>
          <div class='mb-4 flex flex-col lg:gap-10 gap-5'>
            <div class='flex lg:flex-row flex-col justify-start'>
              <p class='dark:text-gray-200 font-bold lg:w-1/5'>Category:</p>
              <h1
                class='text-gray-800 dark:text-gray-200 capitalize flex-1'
              >{{data.type}}</h1>
            </div>
            <div
              class='flex lg:flex-row flex-col justify-start
                {{eq data.type "views" "flex" "hidden"}}'
            >
              <p class='dark:text-gray-200 font-bold lg:w-1/5'>Viewer's Name:</p>
              <h1
                class='text-gray-800 dark:text-gray-200 capitalize flex-1'
              >{{data.name_of_viewer}}</h1>
            </div>
            <div
              class='flex lg:flex-row flex-col justify-start
                {{eq data.type "views" "flex" "hidden"}}'
            >
              <p class='dark:text-gray-200 font-bold lg:w-1/5'>Viewer's
                Designation:</p>
              <h1
                class='text-gray-800 dark:text-gray-200 capitalize flex-1'
              >{{data.designation_of_viewer}}</h1>
            </div>
            <div class='flex lg:flex-row flex-col justify-start'>
              <p class='dark:text-gray-200 font-bold lg:w-1/5'>Title:</p>
              <h1
                class='text-gray-800 dark:text-gray-200 capitalize flex-1'
              >{{data.title}}</h1>
            </div>
            <div class='flex lg:flex-row flex-col justify-start'>
              <p class='dark:text-gray-200 text font-bold lg:w-1/5'>Thumb Image:</p>
              <div class='flex-1'>
                <img
                  class='w-52 h-auto object-contain'
                  src='{{data.thumb_image}}'
                  alt=''
                />
              </div>
            </div>
            <div class='flex lg:flex-row flex-col justify-start'>
              <p class='dark:text-gray-200 font-bold lg:w-1/5'>Description:</p>
              <h1
                class='text-gray-800 dark:text-gray-200 capitalize flex-1'
              >{{{data.description}}}</h1>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>