<div
  class='shadow-lg min-h-fit rounded-md bg-gray-50 dark:bg-gray-800 md:my-10 mt-24 2xl:mx-20 md:mx-6 mx-3'
>

  <div class='flex items-center w-full mx-auto p-6'>
    <div class='flex-1 self-start md:w-1/2 mx-auto rounded-lg'>
      <div class='overflow-y-auto md:flex-row'>
        <div class='flex justify-between items-center'>
          <h1
            class='text-gray-800 dark:text-gray-200 text-xl md:text-4xl px-6 font-bold'
          >Edit Blog</h1>
          <a
            class='text-white py-3 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5 text-xs'
            href='/blogs'
          >Back to list <i class='fa-solid fa-list'></i></a>
        </div>
        <div class='p-6 w-full'>

          <form class='w-full' id='form' @submit.prevent=''>
            <div class='space-y-5' x-data="{myData: {{ data.type }} }" x-init="myData = JSON.parse(myData)">
              <label class='block text-sm'>
                <span class='text-gray-700 dark:text-gray-400'>Blog Type</span>
                <select
                  name='blog_type'
                  class='w-full text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                  id="select"
                >
                  <option>Please select an option</option>
                  <option value='news' {{#if (eq data.type "news")}}selected{{else}}none{{/if}}>News</option>
                  <option value='views' {{#if (eq data.type "views")}}selected{{else}}none{{/if}}>Views</option>
                  <option value='stories' {{#if (eq data.type "stories")}}"selected"{{else}}"none"{{/if}}>Stories</option>
                  <option value='newsletter' {{#if (eq data.type "newsletter")}}"selected"{{else}}"none"{{/if}}>Newsletter</option>
                </select>
              </label>
              <label class='block text-sm'>
                <span class='text-gray-700 dark:text-gray-400'>Title</span>
                <input
                  class='w-full text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                  placeholder='Jane Doe'
                  name='title'
                  value="{{data.title}}"
                />
              </label>
              <label class='block text-sm'>
                <span class='text-gray-700 dark:text-gray-400'>Sub Title</span>
                <input
                  class='w-full text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                  placeholder='Jane Doe'
                  name='sub_title'
                  value="{{data.sub_title}}"
                />
              </label>

              <label class='block {{eq data.type 'views' 'block' 'hidden'}} text-sm'>
                <span class='text-gray-700 dark:text-gray-400'>Viewer's Name</span>
                <input
                  class='w-full text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                  placeholder='Jane Doe'
                  name='name_of_viewer'
                  value="{{data.name_of_viewer}}"
                />
              </label>
              <label class='block text-sm {{eq data.type 'views' 'block' 'hidden'}}'>
                <span class='text-gray-700 dark:text-gray-400'>Viewer's
                  Designation</span>
                <input
                  class='w-full text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                  placeholder='Jane Doe'
                  name='designation_of_viewer'
                  value="{{data.designation_of_viewer}}"
                />
              </label>
              <label class='block text-sm'>
                <span class='text-gray-700 dark:text-gray-400'>Thumb Image</span>
                <div class='flex justify-between gap-2'>
                  {{!-- <input
                    type='file'
                    class='block w-full text-sm h-11 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                    placeholder='Jane Doe'
                    name='file'
                    value="{{data.thumb_image_source}}"
                  /> --}}
                  <input
                  class='w-full text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                  placeholder='Jane Doe'
                  name='thumb_image'
                  value="{{data.thumb_image}}"
                />
                  <img
                    class='md:w-52 w-20 h-auto fit-contain border dark:border-gray-200 p-3 rounded'
                    src='{{data.thumb_image}}'
                    alt=''
                  />
                </div>

              </label>
              <label
                class='{{eq data.type 'newsletter' 'block' 'hidden'}} text-sm'>
                <span class='text-gray-700 dark:text-gray-400'>Newsletter File
                  </span>
                <input
                  class='w-full text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                  placeholder='Jane Doe'
                  name='newsletter_file'
                  value="{{data.newsletter_file}}"
                />
                {{! <input
                  type='file'
                  class='block w-full text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                  placeholder='Jane Doe'
                  name='file'
                  id='image_file'
                /> }}
              </label>
              <label class='block text-sm'>
                <span
                  class='text-gray-700 dark:text-gray-400'
                >Description</span>
                <div name='blog_description' id='#inp_editor1'></div>
                <input
                  type='hidden'
                  id='editor-content'
                  name='blog_description'
                  value="{{data.description}}"
                />
              </label>
              <label
                class='block text-sm'
                id='newsletter_link'
                x-show="value === 'views'"
              >
                <span class='text-gray-700 dark:text-gray-400'>SEO Description
                </span>
                <textarea
                  class='w-full text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'
                  placeholder='Jane Doe'
                  name='seo_description'
                >{{data.seo_description}}</textarea>
              </label>

            </div>

            <!-- You should use a button here, as the anchor is only used for the example  -->
            <button
              class='block px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple'
            >
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Initialize Quill editor -->
<script>
  var editor1 = new RichTextEditor("#inp_editor1"); content =
  document.getElementById('editor-content').value; editor1.setHTMLCode(content)
  const select = document.getElementById('select').value;
  console.log(select)
</script>
<script src='/js/edit-blog.js' defer></script>