<div
  class='shadow-lg min-h-fit rounded-md bg-gray-50 dark:bg-gray-800 md:my-10 mt-24 2xl:mx-20 md:mx-6 mx-3'
>
  <div x-data='{open: false}'>
    <div class='container px-6 mx-auto mb-8'>
      <div
        class='flex lg:flex-row flex-col justify-between items-center lg:mb-0 mb-5'
      >
        <h2
          class='my-6 xl:text-2xl text-xl text- font-semibold text-gray-700 dark:text-gray-200 lg:w-auto w-full'
        >
          Event: <span class="text-blue-500">{{data.title}}</span>
        </h2>
        <div
          class='flex lg:flex-row flex-col justify-center items-center gap-3'
        >


            <a href="/events"
              class='text-white py-3 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5 text-xs'
              type='submit'
            >Back to list
              <i class="fa-solid fa-list"></i></a>

          <a
            target="_blank"
            href='/events/export-excel?id={{data.id}}'
            class='text-white py-3 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5 text-xs lg:w-auto w-full md:text-none text-center'
          >Export
            <i class="fa-solid fa-file-excel"></i></a>

        </div>
      </div>

      <div class='w-full overflow-hidden rounded-lg shadow-xs'>
        <div class='w-full overflow-x-auto'>
          <table class='w-full whitespace-no-wrap border-collapse'>
            <thead>
            <tr
              class='text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800'
            >
              <th class='px-4 py-3'>Name</th>
              <th class='px-4 py-3'>Email</th>
              <th class='px-4 py-3'>Phone</th>
              <th class='px-4 py-3'>Organization</th>
              <th class='px-4 py-3'>RSVP</th>

            </tr>
            </thead>
            <tbody
              class='bg-white divide-y dark:divide-gray-700 dark:bg-gray-800'
            >
            {{#each data.rsvp}}
              <tr class='text-gray-700 dark:text-gray-400'>
                <td class='px-4 py-3 text-sm'>{{this.name}}</td>
                <td class='px-4 py-3 text-sm'>{{this.email}}</td>
                <td class='px-4 py-3 text-sm'>{{this.phone}}</td>
                <td class='px-4 py-3 text-sm'>{{this.organization}}</td>
                <td class='px-4 py-3 text-sm status' data-status="{{this.status}}"><span class="text-center rounded-full mr-auto font-semibold">{{this.status}}</span></td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
        <div
          class='grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800'
        >
          <span class='flex items-center col-span-3'>

          </span>
          <span class='col-span-2'></span>
          <!-- Pagination -->
          <span class='flex col-span-4 mt-2 sm:mt-auto sm:justify-end'>
            <nav aria-label='Table navigation'>
              <ul class='inline-flex gap-2 items-center'>
                {{#if hasPrev}}
                  <li>
                  <a href="?page={{prevPage}}&keywords={{keywords}}"
                    class='px-3 py-1 rounded-md rounded-l-lg '
                    aria-label='Previous'
                  >
                    <svg
                      aria-hidden='true'
                      class='w-4 h-4 fill-current'
                      viewBox='0 0 20 20'
                    >
                      <path
                        d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z'
                        clip-rule='evenodd'
                        fill-rule='evenodd'
                      ></path>
                    </svg>
                    </a>
                </li>
                {{/if}}
                {{#each pages}}
                  <li>
                    {{#if this.isActive}}
                      <a href="?page={{this.pageNumber}}"
                      class='px-3 text-white py-1 bg-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple'
                    >
                      {{this.pageNumber}}
                      </a>
                    {{else}}
                      <a href="?page={{this.pageNumber}}&keywords={{../keywords}}"
                      class='px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple'
                    >
                      {{this.pageNumber}}
                      </a>
                    {{/if}}
                  </li>
                {{/each}}

                {{#if hasNext}}
                  <li>
                  <a href="?page={{nextPage}}&keywords={{keywords}}"
                    class='px-3 py-1 rounded-md rounded-r-lg'
                    aria-label='Next'
                  >
                    <svg
                      class='w-4 h-4 fill-current'
                      aria-hidden='true'
                      viewBox='0 0 20 20'
                    >
                      <path
                        d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z'
                        clip-rule='evenodd'
                        fill-rule='evenodd'
                      ></path>
                    </svg>
                    </a>
                </li>
                {{/if}}
              </ul>
            </nav>
          </span>
        </div>
      </div>
    </div>

    <script>

      const status = document.getElementsByClassName("status");
      const newStatus = [...status];


      newStatus.forEach((item) => {
        if(item.getAttribute('data-status') === 'Going') {
          item.classList.add("text-green-500")
        }

        if(item.getAttribute('data-status') === 'Not Going') {
          item.classList.add("text-red-500")
        }

        if(item.getAttribute('data-status') === 'Maybe') {
          item.classList.add("text-yellow-400")
        }
      })


        // if(document.getElementById("Going-span")) {
        //   document.getElementById("Going-span").classList.add("bg-green-500")
        // }
        // if(document.getElementById("Not Going-span")) {
        //   document.getElementById("Not Going-span").classList.add("bg-red-500")
        // }
        // if(document.getElementById("Maybe-span")) {
        //   document.getElementById("Maybe-span").classList.add("bg-amber-500")
        // }
    </script>
