<div
  class='shadow-lg min-h-fit rounded-md bg-gray-50 dark:bg-gray-800 md:my-10 mt-24 md:mx-20 mx-3'
>
  <div class='w-full p-6'>
    <div class='self-start w-full rounded-lg'>
      <div class='md:flex-row'>
        <div>
          <div class='flex justify-between items-center lg:pb-16 pb-6 w-full'>
            <h2
              class='lg:text-4xl text-2xl font-semibold text-gray-700 dark:text-gray-200 lg:w-auto w-fit'
            >
              Talents Item
            </h2>
            <a
              class='text-white py-3 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5 text-xs'
              href='/talents'
            >Back to list <i class='fa-solid fa-list'></i></a>
          </div>
        </div>
        <div class=''>
          <div class='mb-4 flex flex-col lg:gap-10 gap-5'>
            <div class='flex lg:flex-row flex-col justify-start'>
              <p class='dark:text-gray-200 font-bold lg:w-1/5'>Role:</p>
              <h1
                class='text-gray-800 dark:text-gray-200 capitalize flex-1'
              >{{data.job_title}}</h1>
            </div>
            <div class='flex lg:flex-row flex-col justify-start'>
              <p class='dark:text-gray-200 font-bold lg:w-1/5'>Description:</p>
              <div class='dark:text-gray-200 flex-1'>
                {{{data.job_description}}}</div>
            </div>
            <div class='flex lg:flex-row flex-col justify-start'>
              <p
                class='dark:text-gray-200 font-bold lg:w-1/5'
              >Responsibilities:</p>
              <div class='dark:text-gray-200 flex-1'>
                {{{data.job_responsibilities}}}</div>
            </div>
            <di class='flex lg:flex-row flex-col justify-start'>
              <p
                class='dark:text-gray-200 font-bold lg:w-1/5'
              >Qualifications:</p>
              <div class='dark:text-gray-200 flex-1'>
                {{{data.qualifications}}}</div>
            </di>
            <div
              class='w-full mt-5 dark:text-gray-200 flex lg:flex-row flex-col justify-start'
            >
              <p class='dark:text-gray-200 lg:w-1/5 font-bold'>Status:</p>
              <div class='flex-1'>
                {{#if (eq data.is_active true)}}
                  <p
                    class='px-2 py-1 w-fit font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100'
                  >Active</p>
                {{else}}<p
                    class='px-2 py-1 w-fit font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100'
                  >Inactive</p>{{/if}}
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>